[user]
	# These values are set in ~/.gitconfig_local

[pull]
	rebase = false

[include]
	path = ~/.gitconfig_local
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
