{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{ if eq .chezmoi.osRelease.id "cachyos" -}}

{{ $pacman := "" -}}
{{ range .packages.arch.pacman -}}
{{ $pacman = printf "%s %s" $pacman (. | quote) -}}
{{ end -}}
sudo pacman -Sy --needed {{ $pacman }}

{{ $paru := "" -}}
{{ range .packages.arch.paru -}}
{{ $paru = printf "%s %s" $paru (. | quote) -}}
{{ end -}}
paru -Sy --needed {{ $paru }}

{{ $brew := "" -}}
{{ range .packages.arch.brew -}}
{{ $brew = printf "%s %s" $brew (. | quote) -}}
{{ end -}}
if command -v brew; then
	brew install {{ $brew }}
else 
	echo "Homebrew is not available. Install or configure it and then run 'chezmoi apply'."
fi

{{ end -}}

{{ end -}}
